.mbsc-ios.mbsc-datepicker-inline {
    border-color:  white;
}

.mbsc-ios.mbsc-calendar-button.mbsc-button {
    color: #ff4d4d;
} 

.mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
    background: #ff4d4d;
    border-color: #ff4d4d;
}

.mbsc-ios.mbsc-calendar-today {
    color : #ff4d4d;
}
